<script>
  trackLength = <%= @track_length %>
</script>

<div class="container">
  <h1>Start yourrrrrrrrrrrrr engines:</h1>
  <div class="countdown"></div>
  <div class="race_track">
    <% @game.players.each_with_index do |p, i|%>
    <p><%= p.name %> <%=i==0?"(Shift):":i==1?"(Return)":i==2?"(Space)":"(6)"%></p>
    <ul class="player<%=i+1%>" id="<%= p.name %>">
      <li class="active"></li>
      <% (@track_length-1).times do %>
        <li> </li>
      <% end %>
    </ul>
    <% end %>
    <button id='restart'>Play Again?</button>
    <button id='new_players'><a href="/">New Players?</a></button>
  </div>
</div>
